# Ein Name fuer alle Commits des Autors -- git log, blame und GitHub lesen das.
Noah Bomers <nbomers@uni-osnabrueck.de> Mac-nbomers <nbomers@uni-osnabrueck.de>
Noah Bomers <nbomers@uni-osnabrueck.de> Noah Bomers <nbomers@uos.de>
